// 边框
$border-list: (null, top, right, bottom, left);
@each $var in $border-list {
  @if $var == null {
    .m-border {
      border: $border !important;
    }
    .m-border-active {
      border: $border-active !important;
    }
    .m-border-error {
      border: $border-error !important;
    }
  } @else {
    .m-border-#{$var} {
      border-#{$var}: $border !important;
    }
    .m-border-active-#{$var} {
      border-#{$var}: $border-active !important;
    }
    .m-border-error-#{$var} {
      border-#{$var}: $border-error !important;
    }
  }
}

// 外边距
$margin-list: (0, 4, 5, 8, 10, 12, 14, 15, 16, 20, 24, 25, 28, 30, 32, 36, 40, 45, 48, 60, 64, 100, 120);
@each $i in $margin-list {
  .m-m-#{$i} {
    margin: #{$i}px !important;
  }
  .m-mt-#{$i} {
    margin-top: #{$i}px !important;
  }
  .m-mr-#{$i} {
    margin-right: #{$i}px !important;
  }
  .m-mb-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .m-ml-#{$i} {
    margin-left: #{$i}px !important;
  }
  .m-m-0-#{$i} {
    margin-left: #{$i}px !important;
    margin-right: #{$i}px !important;
  }
  .m-m-#{$i}-#{0} {
    margin-top: #{$i}px !important;
    margin-bottom: #{$i}px !important;
  }
}

// 内边距
@for $i from 0 through 200 {
  .m-p-#{$i} {
    padding: #{$i}px !important;
  }
  .m-pt-#{$i} {
    padding-top: #{$i}px !important;
  }
  .m-pr-#{$i} {
    padding-right: #{$i}px !important;
  }
  .m-pb-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .m-pl-#{$i} {
    padding-left: #{$i}px !important;
  }
  .m-p-0-#{$i} {
    padding-left: #{$i}px !important;
    padding-right: #{$i}px !important;
  }
  .m-p-#{$i}-#{0} {
    padding-top: #{$i}px !important;
    padding-bottom: #{$i}px !important;
  }
}

// 行高高度
.m-lh-initial {
  line-height: initial;
}
$lineHeight-list: (14, 16, 18, 19, 20, 24, 32, 36, 40, 42, 44, 45, 48, 50, 68);
@each $i in $lineHeight-list {
  .m-lh-#{$i} {
    line-height: #{$i}px;
  }
}

// 高度
$height-list: (12, 24, 30, 32, 36, 40, 44, 48, 50, 60, 72, 100, 120);
@each $i in $height-list {
  .m-h-#{$i} {
    height: #{$i}px !important;
  }
}
//宽度
$width-list: (24, 26, 32, 40, 48, 50, 88, 100, 132, 138, 172, 200, 220, 270, 370, 500);
@each $i in $width-list {
  .m-w-#{$i} {
    width: #{$i}px !important;
  }
}

// 高度百分比
$heightPercent-list: (100);
@each $i in $heightPercent-list {
  .m-hp-#{$i} {
    height: #{$i}#{'%'} !important;
  }
}
//宽度百分比
$widthPercent-list: (8, 18, 20, 25, 33, 66, 100);
@each $i in $widthPercent-list {
  .m-wp-#{$i} {
    width: #{$i}#{'%'} !important;
  }
}
